.outerFooter{
    
    background-color: black;
    padding:10px;
}

.innerFooter {
    
    text-align: center;
    padding: 5px;
    font-size: 10px;
    color: white;
}

.logo {
    
    width: 75%;
    height: auto;
}

#email {
    color: white;
}

.img-responsive {
    
    background-color: rgba(240,95,64,.9);
    border-radius:25px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    padding: 20px;
    height: inherit;
}